@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
	background-color:  #eee!important;
	margin: 0 auto;
	font-family: Roboto;
}

header {
	background-image: url('../images/wallpaper.png');
	background-attachment: fixed;
	background-size: cover;
	height: 450px;
	overflow: hidden;
	text-align: justify;
	box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.05);
}

header .gradient {
	background: rgba(0, 0, 0, 0.9);
	height: 450px;
}

.navbar {
	background: transparent;
	height: 60px;
	position: fixed;
	z-index: 999;
}
.navbar-light .navbar-brand {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: white!important;
}

.nav-link {
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	color: white!important;
}

header h2 {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	margin-top:80px;
}

header p {
	font-size: 13px;
	color: white;
	margin-bottom: 40px;
}

header button {
	background: transparent;
	padding: 8px 20px;
	border-radius: 40px;
	border: 2px solid #f1c40f;
	color: #f1c40f;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	transition: all 0.2s;
	cursor: pointer;
}

header button:hover, button:focus {
	background: #f1c40f;
	border: 2px solid #f1c40f;
	color: black;
}

header .welcome {
	background: linear-gradient(to bottom, rgba(241, 196, 15, 0.8),rgba(243, 156, 18, 0.8));
	width: 600px;
	height: 600px;
	overflow: hidden;
	transform: rotate(45deg);
	margin-top: -120px;
	margin-left: 70px;

}

header .welcome img {
	transform: rotate(-45deg);
	margin-left: 160px;
	margin-top: 180px;
	z-index: 99;
	filter: brightness(0) invert(1) drop-shadow(0 20px 15px rgba(0, 0, 0, 0.1));
}

header .imgWelcome {
	max-height: 300px;
	filter: brightness(100%);
}

header .imageCol {
	margin-left: 700px;
	margin-top: -290px;
}

.black {
	position: fixed;
	background: black;
	width: 100%;
	height: 100%;
	z-index: 9999;
} 

video.resp {
	width: auto;
	min-width: 100%;
	min-height: 500px;
	background-size: cover;
	position: absolute;
	right: -500px;
	bottom: -100px;
	opacity: 0.1;
}

#status {
	text-align: center;
}

#states .title {
	background: linear-gradient(to right, #f1c40f, #f39c12);
	padding:  30px 0;
	z-index: 1;
	box-shadow: inset 0px 13px 10px -11px rgba(0, 0, 0, 0.2) ;
}

#states h2 {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	color: white;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	font-size: 28px;
}

#states .divide {
	background: #ffdb4c;
	width: 200px;
	height: 4px;
	left: 50%;
	margin: 15px 0 15px -100px;
	position: relative;
}

#states .divide::before {
	content: "";
	margin-right: 0px;
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #F1B500;
	float: left;
	margin-top: 42%;
	margin-left: 80px;
}

#states p {
	color: rgba(0,0,0,0.5);
	font-size: 13px;
	text-align: center;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.3);
}

#states #map {
	margin: 50px 0;
}

footer {
	background: #222;
	padding:  40px 0 20px 0;
	color: white;
}

footer .imageLocal {
	text-align: right;
}

footer i {
	font-size: 25px;
	margin: 10px 0;
	padding-right: 10px;
	transition: all 0.2s;
	cursor: pointer;
}

footer i:hover {
	color: #f1c40f;
}

@media (max-width: 991px){
	header {
		height: 450px;
		text-align: center;
	}

	header .welcome {
		visibility: hidden;
	}

	header h2, p {
		text-align: center;
	}

	.navbar-collapse {
		background: white;
		padding:  10px;
		border-radius: 4px;
		box-shadow: 0 0 0 1px rgba(0,0,0,0.05), 0 0 5px 1px rgba(0, 0, 0, 0.1);
		margin-top: 160px;
	}

	.navbar-collapse::before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		width: 0; 
		height: 0; 
		float: right;
		margin-top: -18px;
		margin-right: 10px;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid white;
		filter: drop-shadow(0 0px rgba(0,0,0,0.6));
	}

	footer {
		text-align: center;
	}

	footer .imageLocal {
		text-align: center;
	}

	#svg-map {
		width: 300px!important;
		margin-left: -150px!important;
	}

	#map {
		margin: 4px 0!important;
	}
}

#svg-map path { fill:#CCC ; transition: all 0.2s; font-weight: bold;}
#svg-map text { fill:#fff; font:12px Roboto, sans-serif; cursor:pointer; transition: all 0.2s; font-weight: bold;}
#svg-map a{ text-decoration:none; transition: all 0.2s;}
#svg-map a:hover { cursor:pointer; text-decoration:none;  }
#svg-map a:hover path{ fill:#f1c40f !important }
#svg-map a:focus path{ fill:#000 !important }
#svg-map .circle { fill:#CCC }
#svg-map a:hover .circle { fill:#f1c40f !important; cursor:pointer }
#svg-map a:focus .circle { fill:#000 !important; cursor:pointer }